[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solana_escrow = "HgCVVxrJ3sV6Z2a7B37jz98u9rSuquEcfNnTj26YvdM2"

[programs.devnet]
solana_escrow = "HgCVVxrJ3sV6Z2a7B37jz98u9rSuquEcfNnTj26YvdM2"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
